
.ct {
    background-image: url(img/c.topback.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

    &__title-c {
        padding-top: 64px; 
    }

    &__product-box {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 48px;
    }
}

.section-cn {

}

.nc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;  
        gap: 10px;

        &_catalog {
            color: $color-text-2;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            text-decoration: none;
            gap: 10px;
            margin-top: 64px;
            margin-bottom: 41px;

            &:hover {
                text-decoration:underline;
                color: $color-text-2;
            }
        }

        &_catalog-glav {
            width: 66px;
        }

        &_catalog-slesh {
            width: 6px;
        }

        &_catalog-item {
            width: 137px;
        }
    }

    &__filtering {
        display: flex;
        column-gap: 10px;
        margin-top: 61px; 
        margin-bottom: 36px; 
        position: relative; 

        &_nav-filter { 
            height: 40px; 
            box-sizing: border-box; 
            border: 1px solid gray; 
            border-radius: 20px; 
            position: relative; 
            background-image: url(img/arrow.svg); 
            background-repeat: no-repeat; 
            background-position: right 20px center; 
            padding-right: 22px; 
        } 

        &_nav-filter-filter { 
            font-family: Montserrat; 
            width: 182px; 
            font-size: 16px; 
            font-weight: 500; 
            line-height: 20px; 
            text-align: left; 
            color: $color-text-2; 
            flex: none; 
            order: 0; 
            flex-grow: 0; 
            padding-left: 23px; 
        }

        &_nav-filter-popular { 
            font-family: Montserrat; 
            width: 227px; 
            font-size: 16px; 
            font-weight: 400; 
            line-height: 20px; 
            text-align: left; 
            color: $color-text-2; 
            flex: none; 
            order: 1; 
            flex-grow: 0; 
            padding-left: 23px; 
        }
    }
} 

select {
    appearance: none;
    width: auto;
    padding: 4px;
    border-color: #aaa;
    border-radius: 3px; 
}