
@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for-box__title_content_item {
        height: 287px;
    }

    .product-box__content {
        column-gap: 29px;
        row-gap: 39px;
    }

    .footer__logo {
        display: none;
    }

    .ct__product-box {
        column-gap: 29px;
        row-gap: 37px;
    }

    .filtering-form { 
        position: absolute;
        top: calc(100% + 14px);
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 36px;
        background-color: $color-text;
        box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
        padding: 40px 48px;
    }

    .footer__contents {
        gap: 110px;
        width: 100%;
        justify-content: space-between;
    }

    .footer__contents_form {
        padding-left: 0;
        padding-right: 0;
        width: 260px;
    }

    .footer__contents_info_nav {
        padding: 0;
        width: 78px;
    }

    .footer__contents_info_item {
        padding: 0;
        width: 139px;
    }

    .footer__contents_info {
        justify-content: normal;
        gap: 130px;
    }

    .basket__content {
        grid-column: span 12;
        padding-right: 24px;
        padding-left: 24px;
    }

    .basket {
        grid-template-columns: repeat(8, 1fr);
    }

    .basket-form {
        grid-column: span 5;
        padding-left: 24px;
    }

}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px; 
    }

    .article {
        width: 345px;
    }

    .footer__contents {
        gap: 120px;
        width: 100%;
    }

    .footer__contents_form {
        padding-left: 0;
        padding-right: 0;
        width: 260px;
    }

    .footer__contents_info_nav {
        padding: 0;
        width: 78px;
    }

    .footer__contents_info_item {
        padding: 0;
        width: 139px;
    }

    .footer__contents_info {
        justify-content: normal;
        gap: 100px;
    }

    .basket__content {
        grid-column: span 12;
        padding-right: 24px;
        padding-left: 24px;
    }

    .basket {
        grid-template-columns: repeat(8, 1fr);
    }

    .basket-form {
        grid-column: span 5;
        padding-left: 24px;
    }
}